<ion-view   ng-controller="AdministrationController">
  <ion-nav-title> {{"administration" | translate}} </ion-nav-title>
  <ion-content scroll="false" has-header="true" padding="true">
    <ul class="list">

      <!--<li class="item item-input item-select">-->
        <!--<label>-->
          <!--<div class="input-label">-->
            <!--{{"colorBack" | translate}}-->
          <!--</div>-->
          <!--<select ng-change="colorChangeBackground(data.colorBack.value)" ng-model="data.colorBack.value" ng-options="color.name for color in colors"></select>-->
        <!--</label>-->
      <!--</li>-->
      <li class="item item-input">
        <div class="input-label">
          {{"colorBack" | translate}}
        </div>
        <a class="badge" style="width: 10vh; height: 3vh; border: 1px solid black; background-color: {{data.colorBack.value.color}};" ng-click="setColorBack()"> </a>
      </li>

      <li class="item item-divider"></li>
      <!--<li class="item item-input item-select">-->
        <!--<label>-->
          <!--<div class="input-label">-->
            <!--{{"colorText" | translate}}-->
          <!--</div>-->
          <!--<select ng-change="colorChangeText(data.colorText.value)" ng-model="data.colorText.value" ng-options="color.name for color in colors"></select>-->
        <!--</label>-->
      <!--</li>-->
      <li class="item item-input">
        <div class="input-label">
          {{"colorText" | translate}}
        </div>
        <a class="badge" style="width: 10vh; height: 3vh; border: 1px solid black; background-color: {{data.colorText.value.color}};" ng-click="setColorText()"> </a>
      </li>
      <li class="item item-input item-select">
        <label>
          <div class="input-label">
            {{"textSize" | translate}}
          </div>
          <select ng-change="changeTextSize(data.textSize.value)" ng-model="data.textSize.value" ng-options="size.size for size in sizes"></select>
        </label>
      </li>
    </ul>
    <button class="button button-block button-positive" ng-click="sendSettings()">{{ 'smsSend' | translate }}</button>
  </ion-content>
</ion-view>
