<ion-view class="backgroundColor" hide-nav-bar="true" view-title='{{"login" | translate}}'
          ng-controller="ShowController">
    <ion-content  has-header="true" padding="true" overflow-scroll="false">
        <img class="col text-center" src="./img/logo.png">
        <div>
            <div class="card myCard">
                <div class="item item-text-wrap">
                    {{"showText" | translate}}
                </div>
            </div>
            <button class="button button-block button-balanced" ng-click="hideGo()">
                {{"setting" | translate}}
            </button>
        </div>


    </ion-content>
</ion-view>